<div id="container" >
	<div id="wrapper">
		<div id="register" class="animate form">
			<form method="POST" action="{% url 'accounts:sign_up' %}">
                {% csrf_token %}
				<h1> Sign up </h1> 
				<p> 
					<label for="usernamesignup" class="uname" data-icon="u">Username: </label>
					<br/>
                    {% if username %}
                        <input id="usernamesignup" name="usernamesignup" required="required" type="text" value="{{ username }}" />
                    {% else %}
                        <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690" />
                    {% endif %}
				</p>
				<p> 
					<label for="passwordsignup" class="youpasswd" data-icon="p">Password: </label>
                    <br/>
					<input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"/>
				</p>
				<p> 
					<label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Confirm password: </label>
					<br/>
                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
				</p>
                {% if msg %}
                    <h4 style="color:red;">{{ msg }}</h4>
                {% endif %}
				<p class="signin button"> 
					<input type="submit" value="Sign up"/> 
				</p>
				<p class="change_link">  
					Already a member ?
					<a href="{% url 'accounts:log_in' %}" class="to_register"> Go and log in </a>
				</p>
			</form>
		</div>
		
	</div>
</div>  